@model LancheListViewModel

@*
@model IEnumerable<LanchesMac.Models.Lanche>
View Fortemente tipada
*@

<div> 
    <h2>@Model.CategoriaAtual</h2>
</div>

<div class="container">
    <div class="row">
       @foreach (var lanche in Model.Lanches)
       {
           //partial view lanche
           <partial name="_LanchesResumo" for="@lanche"/>
       }
    </div>
</div>
