
@{
    ViewData["Title"] = "UploadFiles";
}

<img src="~/images/icons8-upload-48.png" width="200"
    hheight="150" />

<hr />

<div class="jumbotron jumbotron-fluid">

    <div class="container">

        @if (ViewData["Erro"] != null)
        {
            <img src="~/images/icons8-erro-50.png" width="150" height="150">
            <h4>@ViewData["Erro"]</h4>
        }
    </div>

    <div class="container">
        @if (ViewData["Resultado"] != null)
        {
            <h4>@ViewData["Resultado"]</h4>
            <hr />
            @if(ViewBag.Arquivos != null)
            {
                @foreach(string arquivo in ViewBag.Arquivos)
                {
                    <li>
                        @arquivo
                    </li>
                }
            }
        }
    </div>
</div>